In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
df=spark.read.csv('test4.csv',header=True,inferSchema=True)
df.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Giuseppe| 31|        10| 30000|
|   Mario| 30|         8| 25000|
|   Fabio| 29|         4| 20000|
|    Luca| 24|         3| 20000|
| Antonio| 21|         1| 15000|
|Federico| 23|         2| 18000|
+--------+---+----------+------+

## Filter operations

In [5]:
## salary less or equal to 20000
df.filter('Salary<=20000').show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Fabio| 29|         4| 20000|
|    Luca| 24|         3| 20000|
| Antonio| 21|         1| 15000|
|Federico| 23|         2| 18000|
+--------+---+----------+------+

In [6]:
## name and age of people with salary <= 20000
df.filter('Salary<=20000').select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|   Fabio| 29|
|    Luca| 24|
| Antonio| 21|
|Federico| 23|
+--------+---+

In [9]:
## multiple conditions
## Salary<=20000 & Salary>=15000 ( or = | )
df.filter((df['Salary']<=20000) & 
          (df['Salary']>=15000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Fabio| 29|         4| 20000|
|    Luca| 24|         3| 20000|
| Antonio| 21|         1| 15000|
|Federico| 23|         2| 18000|
+--------+---+----------+------+

In [10]:
## inverse operation - ~
## Salary NOT <= 20000
df.filter(~(df['Salary']<=20000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Giuseppe| 31|        10| 30000|
|   Mario| 30|         8| 25000|
+--------+---+----------+------+