In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
## read data set
df=spark.read.csv('test5.csv',header=True,inferSchema=True)
df.show()

+--------+------------+------+
|    Name|  Department|Salary|
+--------+------------+------+
|Giuseppe|Data Science| 10000|
|Giuseppe|    Big Data|  5000|
|   Fabio|    Big Data|  4000|
|Giuseppe|     Web Dev|  4000|
| Antonio|     Web Dev|  5000|
|   Fabio|Data Science|  9000|
|   Fabio|     Web Dev|  4000|
|  Andrea|    Big Data|  5000|
+--------+------------+------+

In [7]:
## groupBy operation
## total salary for each person
df.groupBy('Name').sum('Salary').show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|Giuseppe|      19000|
|  Andrea|       5000|
| Antonio|       5000|
|   Fabio|      17000|
+--------+-----------+

In [12]:
## groupBy operation
## total salary for each department
df.groupBy('Department').sum('Salary').show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|     Web Dev|      13000|
|    Big Data|      14000|
|Data Science|      19000|
+------------+-----------+

In [13]:
## groupBy operation
## avg salary for each department
df.groupBy('Department').mean('Salary').show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|     Web Dev|4333.333333333333|
|    Big Data|4666.666666666667|
|Data Science|           9500.0|
+------------+-----------------+

In [17]:
## groupBy operation
## max salary for each person
df.groupBy('Name').max('Salary').show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|Giuseppe|      10000|
|  Andrea|       5000|
| Antonio|       5000|
|   Fabio|       9000|
+--------+-----------+

In [14]:
## groupBy operation
## how many people are working in each department
df.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|     Web Dev|    3|
|    Big Data|    3|
|Data Science|    2|
+------------+-----+

In [16]:
## aggregate operation
## total salaries (salary column sum)
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      46000|
+-----------+